.app_green_theme {
    --bg-color: #F4FBF6;
    --inverted-bg-color: #389B03;
    --primary-color: #02f534;
    --secondary-color: rgb(87 155 87);
    --inverted-primary-color: #F4FBF6;
    --inverted-secondary-color: #04c131;

    // skeleton
    --skeleton-color: rgb(220 222 220 / 91%);
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg:#fff;

    // card
    --card-bg: #d5d5d7;
}

